# App Configuration Variables:
# JWT_SECRET is the secret used to sign and verify JWT tokens.
# PORT is the port the server listens on.
JWT_SECRET="some-secure-secret"
PORT="3000"

# Database Configuration Variables:
# DATABASE_URL defines the connection string for your PostgreSQL database.
# Format: postgresql://<username>:<password>@<host>:<port>/<database_name>
DATABASE_URL="postgresql://cs4211_admin:some-secure-secret@localhost:5432/cs4211"
